body {
    background-color: gray;
    text-align: center;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

h2 {
    color: black;
    font-size: 48px;
    padding-top: 80px;
}